<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- your internal Azure Artifacts feed -->
    <add key="InternalNuGet"
         value="https://pkgs.dev.azure.com/faizulislam210528/azuredevops/_packaging/InternalNuGet/nuget/v3/index.json" />
    <!-- fallback to public nuget.org -->
    <add key="nuget.org"
         value="https://api.nuget.org/v3/index.json"
         protocolVersion="3" />
  </packageSources>

  <packageSourceCredentials>
    <InternalNuGet>
      <add key="Username" value="AzureArtifacts" />
      <!-- replace this with a PAT that has Packaging:Read on your feed -->
      <add key="ClearTextPassword" value="" />
    </InternalNuGet>
  </packageSourceCredentials>
</configuration>

